# PhpStorm
.idea/

# VSCode
.vscode/

# Sublime Text
*.sublime-workspace
*.sublime-project

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Node modules and build files
node_modules/
package-lock.json
amd/build/

# Composer
vendor/
composer.phar

# PHP CS Fixer
.php_cs.cache
.php-cs-fixer.cache

# PHPUnit
.phpunit.result.cache

# Build artifacts
*.min.js
*.min.css
